/pages
.vscode/
/__pycache__
/build
/dist
manager.spec

/bz
bz.zip

/config/aria2.session
/config/aria2.log
/config/config.json
/config/like.json
/config/like_copy.json
aria2c

cowtransfer-uploader
cowtransfer-uploader.exe

.DS_Store
share.json
