# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Getting daily bz

on:
  push:
    branches:    
      - master
  schedule:
    - cron: '30 2 * * *'

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        sudo apt install aria2 -y
        python -m pip install --upgrade pip
        pip install -r requirements.txt

  get:
    steps:
    - name: Getting bz
      run: |
        python3 main.py

  uplaod:
    steps:
    - name: Upload bz
      run: |
        curl -sL https://git.io/cowtransfer | sh 
        ./cowtransfer-uploader --hash ./bz.zip
